@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Poller+One');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

* {
  box-sizing: border-box;
}

html {
margin: 0;
padding: 0;
}

.header{
	background-color: #000000;
	padding: 0% 0% 0% 0%;
	position: fixed;
	top: 0%;
	left: 0%;
	width:100%;
	height: 100px;
	z-index: 10;
}
body {
	font-family: work sans, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.sectionTitle {
	margin-top: 20px;
	//margin-bottom: -10px;
	font-size: 18px;
}
.logo {
	font-family: Poiret One;
	font-weight:100;
	font-size: 40px;
	color: #ffffff;
	float: left;
	padding-left: 60px;
	text-decoration: none;
}
.logo:hover {
	font-family: Poiret One;
	font-weight:100;
	font-size: 40px;
	color: #ffffff;
	float: left;
	padding-left: 60px;
	text-decoration: none;
	cursor:pointer;
}
.nav{
	float: right;
	//padding: 1.25em% 5em 0% 0%;
	//padding-right:5em;
	padding: 26px 60px 0px 0px;
	text-align: right;
	overflow: hidden;
}
.navButton{
	display: inline;
}
.main{
	margin-top: 125px;
	margin-bottom: 40px;
	//background-image: url("images/whiskey.jpg");
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	float: left;
}
.homepage{
	margin-top: 10px;
}
.sidebar{
	margin-top: 150px;
	float: left;
	width: 20%;
	margin-left: 5%
}
.sidebarImage{
	width: 75%;
}
.title {
	//font-family:Advent Pro;
	font-family: Cormorant Garamond, serif;
	font-weight: 900;
	font-size: 32px;
	text-align: center;
	padding-top: 0px;
	margin-top: 0px;
	color: #383d38;
}
.navButton a{
	padding-left: 16px;
	padding-right: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: lighter;
}
.navButton a:hover {
	//background-color: #f2f1e6;
	color: #9db29d;
	font-weight: bold;
	//font-size: 18px;
	/*padding-left:15px;
	padding-right:15px;*/
	text-decoration: none;
 }
 .footerText{
	width:75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 10px;
	color: #6b6d6b;
	font-size: 12px;
} 
footer{
	clear: both;
	padding: 0;
	margin: 0;
	//background-color: #f2f1e6;
	background-color: #f7f7ef;
	width: 100%;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top-width: 4px;
	border-top-style: ridge;
	font-size:14px;
	font-weight: lighter;
}
#help{
	text-decoration: none;
	color: #6b6d6b;
}
p{
	margin-top: .5em;
	margin-bottom: .5em;
}
#poems{
	height: 350px;
	overflow-y: scroll;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

#drinkingSong, #beDrunk{
	margin-top:25px;
}